{% extends "base.html" %}
{% block title %}Your Cart{% endblock %}
{% block content %}
<h1>{{ pet.pet_name }}</h1>
    <div class="row">
        <div class="col-6">
          <div class="card mt-3">
            <img src="{{ pet.pet_picture }}" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">{{ pet.pet_info }}</h5>
              <h5 class="card-title">{{ pet.pet_price }}</h5>
              <a href="{{ url_for('add_pet', pet_id = pet.pet_id ) }}" class="btn btn-primary btn-block">Add to Cart</a>
            </div>
          </div>
        </div>


{% endblock %}